body{
	margin: 0;
	background-color: #24252D;
	position: relative;
}
*{
	box-sizing: border-box;
	outline: none;
}
img{
	max-width: 100%;
	display: block;
}
a{
	text-decoration: none;
	user-select: none;
}
.box{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
.header{
	height: 90px;
	border-bottom: 1px solid #323238;
	display: flex;
	justify-content: center;
	text-align: center;
}
.header-iner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	height: 100%;
	padding-top: 5px;
}
.header__logo-info{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 900;
}
.header__search-iner{
	position: relative;
}
.header__search-field{
	height: 40px;
	width: 550px;
	background-color: #1B1A21;
	border: none;
	margin-left: 30px;
	border-radius: 10px;
	padding-left: 63px;
	padding-top: 5px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.header__search-icon{
	position: absolute;
	top: 10px;
	left: 50px;
}
.header__logo{
	display: flex;
	align-items: center;
}
.header__logo-img{
	height: 32px;
	width: 32px;
}
.header__logo-info{
	margin-left: 20px;
}
.header__bar-item{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #737373;
	transition: color 0.35s;
	display: flex;
	align-items: center;
}
.header__bar-item:hover{
	color: #fff;
}
.header__nav{
	display: flex;
	margin-left: 40px;
}
.header__search{
	display: flex;
	margin-left: 40px;
}
.header__bar{
	display: flex;
	margin-right: 40px;
}
.header__bar-item{
	margin: 0 15px;
}
.header__buttons{
	margin-right: 12px;
}
.header__button{
	margin: 0 6px;
}
.header__button:nth-child(1){
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, #FF00B8 0%, #FF005C 100%) border-box;
	padding: 10px 34px;
	border-radius: 12px;
	margin-left: -5px;
	transition: 0.35s;
	display: inline-block;
}
.header__button:nth-child(1):hover{
	transform: translate(-5px, -5px);
	box-shadow: 5px 5px 10px #e700a6;
}
.header__button:nth-child(2){
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	border-radius: 10px;
	padding: 10px 72px;
	margin-right: 10px;
	position: relative;
	transition: 0.35s;
	background: linear-gradient(to right, #FF00B8 0%, #FF005C 100%) border-box;
}
.header__button:nth-child(2)::before{
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	background-color: #24252D;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__button:nth-child(2)::after{
	content: 'Content';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	background: linear-gradient(45deg, #FF00AF 33%, #FF0067 66%);
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.header__button:nth-child(2):hover{
	box-shadow: 0px 0px 10px #e700a6;
}
.main__intro{
	display: grid;
	grid-template-columns: 1fr .92fr;
	margin-top: 105px;
}
.main__title{
	margin-top: 90px;
	user-select: none;
}
.main__title-item{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 48px;
	background: linear-gradient(45deg, #FF00AF 33%, #FF0067 66%);
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.main__baner-img{
	height: 622px;
	width: 573px;
	pointer-events: none;
	user-select: none;
}
.main__info-item{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	padding-right: 150px;
	margin-top: 50px;
	user-select: none;
}
.main__info-buttons{
	display: flex;
	margin-top: 60px;
}
.main__info-button:nth-child(1){
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, #FF00B8 0%, #FF005C 100%) border-box;
	height: 50px;
	width: 170px;
	border-radius: 12px;
	margin-left: -5px;
	margin-right: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.35s;
}
.main__info-button:nth-child(1):hover{
	transform: translate(-5px, -5px);
	box-shadow: 5px 5px 10px #e700a6;
}
.main__info-button:nth-child(2){
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	border-radius: 10px;
	height: 50px;
	width: 165px;
	margin-right: 10px;
	position: relative;
	transition: 0.35s;
	background: linear-gradient(to right, #FF00B8 0%, #FF005C 100%) border-box;
}
.main__info-button:nth-child(2)::before{
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	background-color: #24252D;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main__info-button:nth-child(2)::after{
	content: 'Content';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	background: linear-gradient(45deg, #FF00AF 33%, #FF0067 66%);
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.main__info-button:nth-child(2):hover{
	box-shadow: 0px 0px 10px #e700a6;
}
.main__info-audio{
	display: flex;
	align-items: center;
	margin-top: 88px;
}
.main__audio-item{
	height: 68px;
	width: 68px;
	background-color: #000;
	border-radius: 100%;
	position: relative;
}
.main__audio-tringle{
	position: absolute;
	top: 30%;
	left: 38%;
}
.main__audio-info{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	margin-left: 34px;
}
.main__topsellers{
	margin-top: 105px;
}
.main__topsellers-info{
	text-align: center;
}
.main__topsellers-title{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 36px;
	background: linear-gradient(145deg, #FF00AF 33%, #FF0067 75%);
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	display: inline-block;
}
.main__topsellers-cards{
	display: flex;
	margin-top: 55px;
	justify-content: space-between;
}
.main__topsellers-card{
	height: 280px;
	width: 212px;
	background-color: #202128;
	border-radius: 20px;
	margin: 0 17px;
	transition: 0.35s;
	user-select: none;
}
.main__topsellers-card:hover{
	box-shadow: 0px 0px 20px #ff19b6;
}
.main__topsellers-card:nth-child(1){
	margin-left: 0;
}
.main__topsellers-card:nth-child(5){
	margin-right: 0;
}
.main__topsellers-text{
	margin-top: 20px;
}
.main__topsellers-text-item{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}
.main__topsellers-text-item:nth-child(2){
	margin-top: 10px;
}
.main__card-photo{
	display: flex;
	justify-content: center;
	pointer-events: none;
}
.main__card-rate{
	height: 40px;
	width: 40px;
	color: #fff;
	background: linear-gradient(130deg, #FF00AF 33%, #FF0067 80%);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	margin: 20px 0 0 16px;
}
.main__card-check{
	height: 25px;
	width: 25px;
	background-color: #00B247;
	border-radius: 100%;
	position: relative;
	top: 70px;
	right: 25px;
}
.main__card-check::before{
	content: '';
	height: 10px;
	width: 5px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	position: absolute;
	top: 20%;
	left: 40%;
	transform: rotate(45deg);
}
.main__card-img{
	padding-left: 25px;
}
.main__card-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 32px;
}
.main__card-info-name{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 18px;
}
.main__card-info-value{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
}
.main__hotbids{
	margin-top: 105px;
}
.main__hotbids-iner{
	text-align: center;
}
.main__hotbids-title{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 36px;
	background: linear-gradient(145deg, #FF00AF 33%, #FF0067 75%);
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	display: inline-block;
}
.main__hotbids-info{
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.main__hotbids-info:nth-child(2){
	margin-top: 24px;
}
.main__hotbids-info:nth-child(3){
	margin-top: 10px;
}
.main__hotbids-cards{
	margin-top: 72px;
	display: flex;
	flex-wrap: wrap;
}
.main__hotbids-card{
	height: 428px;
	width: 275px;
	background-color: #202128;
	border-radius: 40px;
	margin: 0 16px;
	box-shadow: 5px 5px 5px #202128;
	transition: 0.35s;
	user-select: none;
}
.main__hotbids-card:hover{
	box-shadow: 0px 0px 20px #ff19b6;
}
.main__hotbids-card:nth-child(1), .main__hotbids-card:nth-child(5){
	margin-left: 0;
}
.main__hotbids-card:nth-child(4), .main__hotbids-card:nth-child(8){
	margin-right: 0;
}
.main__hotbids-card:nth-child(5), .main__hotbids-card:nth-child(6), .main__hotbids-card:nth-child(7), .main__hotbids-card:nth-child(8){
	margin-top: 47px;
}
.main__hotbids-card-img{
	padding: 22px 0 0 20px;
	pointer-events: none;
}
.main__hotbids-card-info{
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	margin-left: 22px;
}
.main__hotbids-name-item{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #fff;
}
.main__hotbids-name-item:nth-child(1){
    font-weight: 700;
}
.main__hotbids-name-item:nth-child(2){
    font-weight: 500;
	margin-top: 15px;
}
.main__hotbids-info-photos{
	position: relative;
	height: 50px;
	width: 50px;
}
.main__hotbids-info-img{
	position: absolute;
	pointer-events: none;
}
.main__hotbids-info-img:nth-child(1){
	right: 68px;
	z-index: 3;
}
.main__hotbids-info-img:nth-child(2){
	right: 44px;
	z-index: 2;
}
.main__hotbids-info-img:nth-child(3){
	right: 20px;
	z-index: 1;
}
.main__hotbids-button{
	border-radius: 10px;
	height: 52px;
	width: 358px;
	position: relative;
	background: linear-gradient(to right, #FF00B8 0%, #FF005C 100%) border-box;
	cursor: pointer;
	border: none;
	transition: 0.35s;
}
.main__hotbids-button::before{
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	background-color: #24252D;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main__hotbids-button::after{
	content: 'Load More';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	background: linear-gradient(45deg, #FF00AF 33%, #FF0067 66%);
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.main__hotbids-button:hover{
	box-shadow: 0px 0px 10px #ff19b6;
}
.main__button-iner{
	display: flex;
	justify-content: center;
	margin-top: 67px;
}
.footer{
	border-top: 1px solid #323238;
	margin-top: 105px;
	padding-top: 53px;
}
.footer__logo{
	display: flex;
	align-items: center;
}
.footer__top{
	display: flex;
	justify-content: space-between;
}
.footer__top-title{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	margin-left: 20px;
	user-select: none;
}
.footer__top-nav{
	display: flex;
}
.footer__bot{
	display: flex;
	justify-content: space-between;
}
.footer__socials{
	display: flex;
}
.footer__form{
	margin-top: 42px;
	position: relative;
}
.footer__form-title{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #fff;
	margin-bottom: 22px;
}
.footer__bot-title{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #fff;
	user-select: none;
}
.footer__nav-item{
	display: flex;
	flex-direction: column;
}
.footer__nav-item:nth-child(1){
	margin-right: 164px;
}
.footer__nav-item:nth-child(2){
	margin-right: 140px;
}
.footer__nav-item:nth-child(3){
	margin-right: 30px;	
}
.footer__nav-title{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 20px;
	margin-bottom: 18px;
	user-select: none;
}
.footer__nav-link{
	color: #737373;
	font-family: 'Poppins', sans-serif;
	margin: 6px 0;
	position: relative;
	transition: 0.35s;
}
.footer__nav-link:hover{
	color: #fff;
}
.footer__nav-link:hover.footer__nav-link::before{
	width: 100%;
}
.footer__bot{
	margin: 102px 0 30px 0;
}
.footer__socials-item{
	margin: 0 8px;
}
.footer__socials-item img{
	pointer-events: none;
}
.footer__form-input{
	height: 40px;
	width: 283px;
	background-color: #1B1A21;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	padding: 12px 56px 12px 18px;
}
.footer__form-button{
	font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, #FF00B8 0%, #FF005C 100%) border-box;
    padding: 12px 28px;
    border-radius: 12px;
    margin-left: -5px;
	border: none;
	position: absolute;
	left: 245px;
	cursor: pointer;
}
.burger-field{
	background-color: #24252D;
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	height: 255px;
	z-index: 4;
	border-bottom: 1px solid #323238;
	opacity: 0;
	pointer-events: none;
	transition: 0.35s;
}
.header__burger-btn{
	height: 30px;
	width: 40px;
	position: relative;
	margin-right: 40px;
	display: none;
	cursor: pointer;
}
.header__btn-item{
	height: 4px;
	width: 100%;
	background-color: #000;
	position: absolute;
	background: linear-gradient(to right, #FF00B8 0%, #FF005C 100%) border-box;
	transition: 0.35s;
}
.header__btn-item:nth-child(1){
	top: 0;
}
.header__btn-item:nth-child(2){
	top: 46%;
}
.header__btn-item:nth-child(3){
	bottom: 0;
}
.footer__link-iner{
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 1427px) {
	.header-iner{
		width: 100%;
	}
	.header__nav{
		position: absolute;
		top: 100px;
		z-index: 4;
		flex-direction: column;
		margin: 0;
		width: 100%;
		opacity: 0;
		pointer-events: none;
	}
	.header__search-iner{
		position: absolute;
		top: 286px;
		width: 95%;
		z-index: 4;
		display: flex;
		justify-content: center;
		opacity: 0;
		pointer-events: none;
	}
	.header__burger-btn{
		display: block;
	}
	.header__bar{
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.header__bar-item{
		margin: 10px 0;
	}
	.header__buttons{
		margin: 0;
		display: flex;
		justify-content: center;
	}
	.header__search-field{
		margin: 0;
		padding: 0 20px 0 50px;
	}
	.header__search-icon{
		left: 18px;
	}
	.header__form-iner{
		display: flex;
		justify-content: center;
		position: relative;
	}
	.header__button:nth-child(1){
		margin: 10px 10px 0 0;
	}
	.header__button:nth-child(2){
		padding: 10px 60px;
		margin: 10px 0 0 10px;
	}
	.show-menu{
		opacity: 1;
		pointer-events: all;	
	}
	.header__burger-btn.opened .header__btn-item:nth-child(1){
		transform: rotate(45deg);
		top: 50%;
	}
	.header__burger-btn.opened .header__btn-item:nth-child(2){
		transform: translateX(-20px);
		opacity: 0;
	}
	.header__burger-btn.opened .header__btn-item:nth-child(3){
		transform: rotate(-45deg);
		top: 50%;
	}
	.main__title{
		margin-top: 40px;
	}
	.main__topsellers{
		margin-top: 0;
	}
	.main__hotbids{
		margin-top: 40px;
	}
}
@media screen and (max-width: 1427px) {
	.main__title-item{
		font-size: 45px;
	}
	.main__baner{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.main__baner-img{
		height: 500px;
		width: 450px;
	}
	.main__intro{
		margin-top: 20px;
		grid-template-columns: 1fr 450px;
	}
}
@media screen and (max-width: 1240px) {
	.main__topsellers-cards{
		flex-wrap: wrap;
		justify-content: center;
	}
	.main__topsellers-card{
		margin: 20px;
	}
	.main__topsellers-card:nth-child(1){
		margin-left: 20px;
	}
	.main__topsellers-card:nth-child(5){
		margin-right: 20px;
	}
	.main__hotbids-cards{
		justify-content: center;
	}
	.main__hotbids-card:nth-child(n){
		margin: 10px;
	}
}
@media screen and (max-width: 1100px) {
	.footer__top{
		flex-direction: column;
	}
	.footer__top-mail{
		display: flex;
		justify-content: space-between;
	}
	.footer__form{
		margin-right: 75px;
		margin-top: 0px;
	}
	.footer__top-nav{
		justify-content: center;
		margin-top: 25px;
	}
	.footer__bot{
		margin-top: 50px;
	}
	.footer{
		padding-top: 25px;
	}
	.footer__form-title{
		text-align: center;
	}
}
@media screen and (max-width: 1070px) {
	.main__intro{
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 800px) {
	.footer__nav-item:nth-child(n){
		margin: 20px 40px;
	}
	.header__search-iner{
		max-width: 90%;
	}
	.header__search-field{
		width: 300px;
	}
}
@media screen and (max-width: 650px) {
	.footer__top-mail{
		flex-direction: column;
		align-items: center;
	}
	.footer__form{
		margin-right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer__form-title{
		margin-top: 10px;
	}
	.footer__form-button{
		position: static;
		height: 40px;
		width: 100px;
		padding: 0;
		margin-top: 20px;
	}
	.footer__top-nav{
		flex-direction: column;
		align-items: center;
	}
	.footer__link-iner{
		overflow: hidden;
		max-height: 0px;
		transition: 0.35s;
		opacity: 0;
	}
	.footer__nav-title{
		margin: 0;
		cursor: pointer;
	}
	.footer__nav-item:nth-child(n){
		margin: 0;
		width: 100%;
		text-align: center;
	}
	.change-height{
		max-height: 150px;
		opacity: 1;
	}
	.footer__title-iner{
		display: flex;
		justify-content: center;
		position: relative;
	}
	.footer__title-item{
		border: 6px solid transparent;
		border-top: 6px solid #fff;
		height: 0;
		width: 0;
		position: absolute;
		right: 0;
		top: 10px;
		transition: 0.35s;
		transform-origin: 5px 0px;
	}
	.rotate{
		transform: rotate(90deg);
	}
}
@media screen and (max-width: 480px) {
	.footer__bot{
		flex-direction: column-reverse;
		align-items: center;
	}
	.footer__bot-title{
		margin-top: 20px;
	}
}
@media screen and (max-width: 420px) {
	.main__info-buttons{
		flex-direction: column;
		align-items: center;
	}
	.main__info-audio{
		flex-direction: column;
	}
	.main__baner-img{
		height: 90%;
		width: 80%;
	}
	.main__title-item{
		font-size: 34px;
	}
	.main__info-button:nth-child(1){
		margin: 0 0 10px 0;
	}
	.main__info-button:nth-child(2){
		margin: 0;
	}
}





